<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Weatherify</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><h1><strong>Weatherify</strong></h1></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Options
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="dropdown-item" href="about">About Us</a></li>
            <li><a class="dropdown-item" href="contribute">Contribute</a></li>
            <li><a class="dropdown-item" href="complaints">Suggestions/Complaints</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
    <div class="alert alert-dark" role="alert">
        <strong>Olá!!</strong> Help us get better. Give us your feedback.
</div>
<div class="container-fluid">
    <form action='' method='get'>
<!--<input type='text' id='city' name='city' placeholder='Enter city'>-->
<!--<input type='submit' name='send' value='Search'>-->
        <div class="container mt-4">
            <h1><strong>Suggestions/Complaints</strong></h1>
  </div><br>
        <div class="container">
    <p>
        <form class="row g-3">
            <div class="row g-3 mt-1">
  <div class="col-md-6">
    <label for="firstname" class="form-label">First Name</label>
    <input type="text" class="form-control" id="firstname" name="firstname">
  </div>
  <div class="col-md-6">
    <label for="lastname" class="form-label">Last Name</label>
    <input type="text" class="form-control" id="lastname" name="lastname">
  </div>
        </div>
  <div class="row g-3 mt-1">
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Email</label>
    <input type="email" class="form-control" id="inputEmail4" placeholder="something@something.com" name="inputEmail4">
  </div>
  <div class="col-md-6">
    <label for="contact" class="form-label">Contact Number</label>
    <input type="text" class="form-control" id="contact" placeholder="+91-xxxxxxxxxx" name="contact">
  </div>
        </div>
            <div class="row g-3 mt-2">
  <div class="col-md-6">
    <label for="inputCity" class="form-label">City</label>
    <input type="text" class="form-control" id="inputCity" name="inputCity">
  </div>
  <div class="col-md-4">
    <label for="inputState" class="form-label">State</label>
    <select id="inputState" class="form-select" name="state">
      <option selected>Choose...</option>
      <option>Andhra Pradesh</option>
      <option>Arunachal Pradesh</option>
      <option>Assam</option>
      <option>Bihar</option>
      <option>Chhattisgarh</option>
      <option>Goa</option>
      <option>Gujarat</option>
      <option>Haryana</option>
      <option>Himachal Pradesh</option>
      <option>Jharkhand</option>
      <option>Karnataka</option>
      <option>Kerala</option>
      <option>Madhya Pradesh</option>
      <option>Maharashtra</option>
      <option>Manipur</option>
      <option>Meghalaya</option>
      <option>Mizoram</option>
      <option>Nagaland</option>
      <option>Odisha</option>
      <option>Punjab</option>
      <option>Rajasthan</option>
      <option>Sikkim</option>
      <option>Tamil Nadu</option>
      <option>Telangana</option>
      <option>Tripura</option>
      <option>Uttar Pradesh</option>
      <option>Uttarakhand</option>
      <option>West Bengal</option>
      <option>Andaman and Nicobar Islands</option>
      <option>Chandigarh</option>
      <option>Dadra Nagar Haveli and Daman Diu</option>
      <option>Delhi</option>
      <option>Jammu and Kashmir</option>
      <option>Ladakh</option>
      <option>Lakshadweep</option>
      <option>Puducherry</option>
    </select>
  </div>
  <div class="col-md-2">
    <label for="inputZip" class="form-label">Zip</label>
    <input type="text" class="form-control" id="inputZip" name="inputZip">
  </div>
            </div>
            <div class="col-12 mt-3">
    <label for="complaints" class="form-label">Complaint</label>
    <input type="text" class="form-control" id="complaints" name="complaints">
  </div>

  <div class="col-12 mt-3">
    <label for="Suggestions" class="form-label">Suggestion</label>
    <input type="text" class="form-control" id="Suggestions" name="Suggestions">
  </div>
  <div class="col-12 mt-5">
    <button onclick="showMessage()" type="submit" class="btn btn-dark">High Five</button>
  </div>
</form>
    </p>
        </div>
</form>
</div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  <script type="text/javascript">
            function showMessage() {
                alert("Great!! Thank you for your feedback.");
            }
        </script>
  </body>
</html>